<IfModule mod_rewrite.c>
	
	# Enrutamiento mediante htacces de apache	
	# ¿Se podran agrupar rutas por archivos e incluir esos archivos aqiu?
	
    RewriteEngine On
	  	
	RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ ../marina_core/frontc.php/app/../app/post-it/$1 [L]
	ErrorDocument 500 error500.html
</IfModule>