/*DIAS DE LA SEMANA*/

.dias li{
	display:inline;
	padding:5px;;
	background-color:black;
	color:white;
}
/* Website template by freewebsitetemplates.com */
/*------------------------- Layout styles ------------------------*/ 


/*------------------------- Font ------------------------*/ 


/*------------------------- Header ------------------------*/ 


/*------------------------- Body ------------------------*/ 
.body div#featured .monitoreo input{
	background:none;
	background-color:black;
	border:2px solid #a1a1a1;
    height:auto;
    width:auto;
	font-family: 'RokkittRegular';
	color:#fff;
	font-size:18px;
	margin:0;
	cursor:pointer;
	outline:none;
	border:3px solid #a1a1a1;
	border-radius:25px;
}

.body div#featured .monitoreo input:hover{	
	border:3px solid green;
    height:auto;
    width:auto;
	font-family: 'RokkittRegular';
	color:#fff;
	font-size:18px;
	margin:0;
	cursor:pointer;
	outline:none;
	
	border-radius:25px;
}
.body ul.monitoreo{
	list-style:none;
	margin:0px 0 0;
	padding:0 0 50px;
	background:url(../../imagenes/theme1/separator.jpg) no-repeat center top;
	overflow:hidden;
}
.body ul.monitoreo li:first-child{
	/*margin:60px 0 0;*/
}
.body ul.monitoreo li{
	float:left;
	/* background:url(../../imagenes/theme1/interface.jpg) no-repeat 0 -68px!important;	*/
	margin:0px 12px 0 14px;
	height:300px;
	padding:0;
}
.body ul.monitoreo li div.tarjeta_monitoreo{
	width:281px;
	height:380px;
	text-align:center;
	padding: 8px 0 20px 0;
	float:none;
	margin:0;
	background:none;
}
.body ul.monitoreo li div.tarjeta_monitoreo a img{
	border:0;
	margin:0 0 0 -3px;
}
.body ul.monitoreo li div.tarjeta_monitoreo a img:hover{
	filter:alpha(opacity=80);
	opacity:0.8;
}
.body ul.monitoreo li div.tarjeta_monitoreo p{
	width:258px;
	text-align:justify;
	color:#828081;
	font-family: 'RokkittRegular';
	margin:17px 0 0 10px;
	line-height:20px;
	font-size:14px;
	background:none;
	padding:0;
}
.body ul.monitoreo li div.tarjeta_monitoreo a:first-child{
	margin:0;
	padding:0;
	background:none;
	width:auto;
}
.body ul.monitoreo li div.tarjeta_monitoreo a:hover{
	color:#F78117;
}
.body ul.monitoreo li div.tarjeta_monitoreo a{
	color:#606060;
	font-family: 'RokkittRegular';
	font-style:italic;
	text-decoration:none;
	padding:0 0 0;
	margin:0px auto 0;
	/*display:block;*/
	width: 150px;
	/*background:url(../../imagenes/theme1/button-more.jpg) no-repeat center top;*/
	outline:none;
	font-size:16px;
	font-weight:normal;
	text-shadow: 0 1px 0 #fcfcfc;
}


/*------------------------- Footer ------------------------*/ 
